.weather {
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    max-width: 100%;
    margin: auto;
}

.weather.dark-mode {
    background-image: linear-gradient(45deg, #1c1c1c, #2c2c2c);
}

.weather .search-bar input {
    color: #626262;
}

.weather .weather-icon {
    max-width: 150px;
}

.temprature {
    color: #fff;
}

.location {
    color: #fff;
}

.weather-data {
    color: white;
}

.weather-data .col {
    font-size: 18px;
    text-align: center;
}

.weather-data .col span {
    font-size: 14px;
}

.weather-data .col img {
    width: 50px;
}
